html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body{
    font-family: calibri;
    
}

/* setting class Header */
.header{
    height: 50px;
    text-align: center;
    color:red;
    padding: 100px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

/*setting class main*/
.main{
    background-color: #bdf7f1;
    height: 400px;
    padding: 100px 10px;
    text-align: center;
    
}

/*setting class footer*/
.footer{
    background-color: #ceccf3;
    height: 100px;
    font-size: small;
}

.btn {
    color: yellow;
    padding: 12px 24px;
    display: inline block;
    border-radius: 4px;
    opacity: 0.8;
}

.btn-wrapper {
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: rgb(180, 49, 49);
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.line {
    background-color: rgb(0, 230, 88);
}

.lupa {
    background-color: orange;
}